@font-face {
  font-family: Monsterrat;
  src: url("/fonts/montserratsemibold.ttf");
}
@font-face {
  font-family: WildWords;
  src: url("/fonts/wildwords.ttf");
}

.container {
  background-image: url("/images/background.jpg");
  height: 100vh;
}

.title {
  font-family: Monsterrat;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.65)
  );
}

.title img {
  margin-left: 10px;
  border-radius: 100%;
}

.text {
  margin-left: 16px;
}

.text > h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 16px;
}

.text > h2 {
  color: white;
  font-size: 18px;
}
.nav {
  background-color: #17181a;
  height: 50vh;
}